a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
#button_58465b21 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:150px; height:40px; background-color:#280D36; border: 2px solid #341145;  }
#button_58465b21:hover { background-color:#C0C0C0; border-color:#000000;  }
#button_58465b21:hover span { color:#525252; }
#button_28553e3e { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:150px; height:40px; background-color:#280D36; border: 2px solid #341145;  }
#button_28553e3e:hover { background-color:#C0C0C0; border-color:#000000;  }
#button_28553e3e:hover span { color:#525252; }
#button_756977fa { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:150px; height:40px; background-color:#280D36; border: 2px solid #341145;  }
#button_756977fa:hover { background-color:#C0C0C0; border-color:#000000;  }
#button_756977fa:hover span { color:#525252; }
body { background-color:#341145; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#container_7f0e379e { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:1200px; background:none;  }
.textstyle2 { text-align:left; }
#container_6079fd27 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:86px; background-color:#4A1960; background-position:top left; background-size:cover;  }
.textstyle3 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_3a292b5c { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:100%; min-height:30px; max-width:1200px; background-color:#341145; border-top: 1px solid #C08E58; border-left: none; border-right: none; border-bottom: none;  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle4 { font-size:12pt; font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color:#FFFFFF; font-weight:bold;  }
#container_433edc8a { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:1200px; background-color:#4A1960;  }
#container_433edc8a_padding { margin: 20px; display: block;  }
#container_33ab7473 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:85px; background:none;  }
#container_33ab7473_padding { margin: 10px; display: block;  }
#container_6d1c74c3 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:89px; background:none;  }
#container_6d1c74c3_padding { margin: 10px; display: block;  }
#container_2405c3c9 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:1200px; background-color:#1D1D1D;  }
#container_2405c3c9_padding { margin: 20px; display: block;  }
.textstyle5 { font-size:12pt; font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color:#AAAAAA;  }
#container_657642d1 { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none;  }
#container_657642d1_padding { margin: 10px; display: block;  }
.textstyle6 { font-size:12pt; font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color:#787878;  }
#container_69df678f { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none;  }
#container_69df678f_padding { margin: 10px; display: block;  }
#container_31fc9f08 { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none;  }
#container_31fc9f08_padding { margin: 10px; display: block;  }
@media only screen and (max-width: 650px)
{
		#container_657642d1 { width:100%;  }
		#container_69df678f { width:100%;  }
		#container_31fc9f08 { width:100%;  }
}
