a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
#button_3d119465 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:150px; height:40px; background-color:#280D36; border: 2px solid #341145;  }
#button_3d119465:hover { background-color:#C0C0C0; border-color:#000000;  }
#button_3d119465:hover span { color:#525252; }
#button_5ad5420e { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:150px; height:40px; background-color:#280D36; border: 2px solid #341145;  }
#button_5ad5420e:hover { background-color:#C0C0C0; border-color:#000000;  }
#button_5ad5420e:hover span { color:#525252; }
#button_376d41f7 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:150px; height:40px; background-color:#280D36; border: 2px solid #341145;  }
#button_376d41f7:hover { background-color:#C0C0C0; border-color:#000000;  }
#button_376d41f7:hover span { color:#525252; }
#button_3198ceaa { vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; width:150px; height:40px; background-color:#FFA925;  }
#button_3198ceaa:hover { background-color:#F4D274;  }
#button_3198ceaa:hover span { color:#FFFFFF; }
body { background-color:#21201C; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#container_9e2d23b { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:1200px; background:none;  }
.textstyle2 { text-align:left; }
#container_69fcba52 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:301px; background-color:#4A1960; background-position:top left; background-size:cover;  }
.textstyle3 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_3d8ccbb7 { position:absolute; left:0%; top:0%; width:100%; min-height:296px; background:none;  }
#container_3d8ccbb7_padding { margin: 10px; display: block;  }
#container_10377463 { vertical-align: top; position:relative; display: inline-block; width:45%; min-height:223px; background:none;  }
#container_10377463_padding { margin: 10px; display: block;  }
#text_4cf5715a { position:absolute; left:3%; top:31%; width:496px; height:90px; background:none;  }
.textstyle4 { font-size:40pt; font-family:'Trebuchet MS', Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  }
#container_5b94d7a6 { vertical-align: top; position:relative; display: inline-block; width:32%; min-height:223px; background:none;  }
#container_5b94d7a6_padding { margin: 10px; display: block;  }
#container_7a349e57 { vertical-align: top; position:relative; display: inline-block; width:23%; min-height:232px; background:none;  }
#container_7a349e57_padding { margin: 10px; display: block;  }
#img_700ae342 { position:absolute; left:0%; top:0%; width:89%; background-color:#000080; height:auto;  }
#container_5acfb01a { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:100%; min-height:30px; max-width:1200px; background-color:#341145; border-top: 1px solid #C08E58; border-left: none; border-right: none; border-bottom: none;  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle5 { font-size:12pt; font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color:#FFFFFF; font-weight:bold;  }
#container_48458a { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:1200px; background-color:#4A1960;  }
#container_48458a_padding { margin: 20px; display: block;  }
.textstyle6 { font-size:12pt; font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color:#FFA925;  }
#container_1fd9dd1a { vertical-align: top; position:relative; display: inline-block; width:86%; min-height:105px; min-width:300px; background:none;  }
#container_1fd9dd1a_padding { margin: 10px; display: block;  }
.textstyle7 { font-size:12pt; font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color:#FFFFFF;  }
.textstyle8 { font-size:12pt; font-family:'Trebuchet MS', Helvetica, sans-serif; color:#FFA925;  }
.textstyle9 { font-size:12pt; font-family:'Trebuchet MS', Helvetica, sans-serif; color:#807AF9;  }
.textstyle10 { font-size:26pt; font-family:'Trebuchet MS', Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  }
#container_25c634d8 { vertical-align: top; position:relative; display: inline-block; width:46%; min-height:579px; min-width:300px; background:none;  }
#container_25c634d8_padding { margin: 10px 20px 10px 10px;display: block;  }
#slide_55b54d88 { overflow:hidden; vertical-align: bottom; position:relative; display: inline-block; width:102%; height:559px; background:none;  }
#container_170f5b97 { vertical-align: top; position:relative; display: inline-block; width:41%; min-height:580px; min-width:300px; background:none;  }
#container_170f5b97_padding { margin: 10px; display: block;  }
.textstyle11 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#C0C0C0; line-height: 1.5;  }
#container_22bff3a2 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:1200px; background-color:#1D1D1D;  }
#container_22bff3a2_padding { margin: 20px; display: block;  }
.textstyle12 { font-size:12pt; font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color:#AAAAAA;  }
#container_892ebb7 { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none;  }
#container_892ebb7_padding { margin: 10px; display: block;  }
.textstyle13 { font-size:12pt; font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color:#787878;  }
#container_7adcf17b { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none;  }
#container_7adcf17b_padding { margin: 10px; display: block;  }
#container_313f930 { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none;  }
#container_313f930_padding { margin: 10px; display: block;  }
@media only screen and (max-width: 890px)
{
		#text_4cf5715a * span { font-size:30pt;  }
}
@media only screen and (max-width: 650px)
{
		#container_892ebb7 { width:100%;  }
		#container_7adcf17b { width:100%;  }
		#container_313f930 { width:100%;  }
}
@media only screen and (max-width: 600px)
{
		#container_10377463 { width:100%;  }
		#container_5b94d7a6 { width:100%;  }
		#container_7a349e57 { width:100%;  }
}
@media only screen and (max-width: 500px)
{
		#text_4cf5715a * span { font-size:20pt;  }
}
